[submodule "daemon/CMake/cmake-conan"]
	path = daemon/CMake/cmake-conan
	url = https://github.com/conan-io/cmake-conan.git
	branch = develop2
[submodule "daemon/third_party/nanopb"]
	path = daemon/third_party/nanopb
	url = https://github.com/nanopb/nanopb.git
